ai2-olmo-eval==0.9.0
bitsandbytes==0.49.2
datasets==3.6.0
huggingface-hub==1.8.0
loguru==0.7.3
opt_einsum
pyarrow==19.0.1
PyYAML==6.0.3
schedulefree==1.4.1
scipy
tensorly==0.9.0
tiktoken==0.12.0
transformers==5.4.0
wandb==0.25.1
zstandard

torch-shampoo @ git+https://github.com/facebookresearch/optimizers.git@23b6ba547156ed5a3dd68a6f543e4858ed6ffbf6
